/* ===== Programs page specific CSS ===== */
.about-container {
    text-align: center;
}

#SG {
    scroll-margin-top: 6.25rem;
    /* pushes it down by 100px */
}

#SBC {
    scroll-margin-top: 6.25rem;
    /* pushes it down by 100px */
}

#FMSWS {
    scroll-margin-top: 6.25rem;
    /* pushes it down by 100px */
}

#WS {
    scroll-margin-top: 6.25rem;
    /* pushes it down by 100px */
}

#QF {
    scroll-margin-top: 6.25rem;
    /* pushes it down by 100px */
}

.program-card {
    border: 0.25rem solid;
    border-image-slice: 1;
    border-width: 0.25rem;
    /*border-image-source: linear-gradient(to right, #ff6a00, #ee0979);*/
    border-image-source: linear-gradient(
    to right,
    red,
    orange,
    yellow,
    green,
    blue,
    indigo,
    violet
  );
    border-radius: 0.625rem;
    padding: 1.25rem;
}

.program-heading {
    font-size: 2.2rem;
    margin-bottom: 1rem;
}

.carousel {
    position: relative;
    max-width: 40rem;
    margin: auto;
    overflow: hidden;
    object-fit: cover;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    flex-shrink: 0;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    border: none;
    padding: 10px;
    cursor: pointer;
    border-radius: 50%;
}

button.prev {
    left: 10px;
}

button.next {
    right: 10px;
}

.dots {
    text-align: center;
    margin-top: 10px;
}

.dots span {
    display: inline-block;
    width: 12px;
    height: 12px;
    margin: 0 4px;
    background: #ccc;
    border-radius: 50%;
    cursor: pointer;
}

.dots .active {
    background: #555;
}